@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.notfound {
    min-height: 750px;
  }
  .notfound .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notfound .content a {
    font-size: 20px;
    font-weight: 500;
    padding: 7px 30px;
    background: transparent;
    border: 1px solid #184235;
    color: #184235;
    text-decoration: none;
  }
  .notfound .content a:hover {
    background: #184235;
    transition: all 0.3s;
    color: #f1f3f6;
  }